
<html>
  <head>
    <title>Gamesapp login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/signin.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
  </head>
<body>
{% include "navbar.html" %}
  {% for message in get_flashed_messages() %}
      <div class="containter-fluid text-center">
      <h4>{{ message }}</h4>
      </div>
  {% endfor %}

    <div class="form-signin">
    <form class="forum-signin" action="" method="post" >
      <h1 class="form-signin-heading">Please login</h1>

        <input type="text"  id="inputEmail" class="form-control" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">

      </form>

    </div>
{% include "footer.html" %}
  </body>
</html>