<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>post_it</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">


</head>
<body>
<!--Navbar start -->
  <div class="navbar-inverse navbar-default navbar-static-top">
      <div class="container"style="color: #427A9E">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/welcome"><span>GamesSapp</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav">
        <li><a href="/table"> Table</a></li>
        <li><a href="/whatulike">Whatulike</a></li>


          </ul>
        </li>
      </ul>
            <ul class="nav navbar-nav navbar-right">
          {% if login %}
              {% if type == "admin" %}
            <li><a href="/postit"><span class="glyphicon glyphicon-pencil"></span> New post</a></li>
              {% endif %}
            <p class="navbar-text">Signed in as {{ login }}</p>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          {% else %}
            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

          {% endif %}
          </ul>
        </div>
      </div>
    </div>
</div>



<form class="form-horizontal" method="post" action="/postit">
<fieldset>


<!-- Text input-->
<div class="form-group" style="padding: 20px;">
  <label class="col-md-4 control-label" for="textinput">Title</label>
  <div class="col-md-4">
  <input id="textinput" name="title" type="text" placeholder="What would u like to write about?" class="form-control input-md">
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Write about it</label>
  <div class="col-md-4">
    <textarea class="form-control" id="textarea" name="content">here</textarea>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Tags</label>
  <div class="col-md-4">
  <input id="textinput" name="tags" type="text" placeholder="gimme 'em" class="form-control input-md">
          <button class="btn btn-default btn-block" type="submit">Submit</button>

  </div>
</div>
</fieldset>
</form>


<!--Footer start -->
 <footer class="navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Well Hello there</p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>