<!DOCTYPE html>
<html>
    <head>
        <title>Gamesapp Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    </head>
<body margin:0px; padding:0px;>
<!--Navbar start -->
 {% include "navbar.html" %}

<div class="row">
    <div class="form-signin form-group col-md-6 col-md-offset-3" >
            <form class="form-signin col-md-6 col-md-offset-3" action="" method="post" >
            <h1>Please register</h1>

                <input type="text"  id="inputEmail" class="form-control" placeholder="Username" name="username" value="{{ request.form.username }}"><br>
                <input type="text" id="inputEmail" class="form-control" placeholder="Email" name="email" value="{{ request.form.email }}"><br>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" value="{{ request.form.password }}"><br>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="confirm" value="{{ request.form.confirm }}"><br>

      <p><input class="btn btn-default" type=submit value=Register></p>
            </form>
            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    </div>
{% include "footer.html" %}
    </body>
</html>