<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>The Table</title>
</head>
<body>
{% include "navbar.html" %}

<div class="container">
    <h1>Take this list</h1>
    <p>This is your list</p>
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    <table class="table">
        <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Price</th>
              <th>Type</th>
              <th>Rating</th>
            </tr>
          </thead>

{% for row in rows %}
          <tbody>
            <tr>
                <th>{{ row[0] }}</th>
                <th>{{row[1]}}</th>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
            </tr>
          </tbody>
{% endfor %}
    </table>

<button class="btn btn-default"><a href="/logout">Logout</a> </button>
<button class="btn btn-default"><a href="/welcome">Home</a> </button>

{% include "footer.html" %}

</div>
</body>
</html>