<!DOCTYPE html>
<html>
  <head>
    <title>Gamesapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <link href="/static/clean-blog.min.css" rel="stylesheet">

      <!--FONTS-->
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  </head>
  <body {background-color:#28292C !important;}>
  {% with user=login %}
{% include "navbar.html" %}
  {% endwith %}
  {% for message in get_flashed_messages() %}
      <div class="containter-fluid text-center">
      <h4>{{ message }}</h4>
      </div>
  {% endfor %}
    <header class="intro-header"style="background: url(http://i.imgur.com/3ZwfxBa.jpg); background-size: cover">
      <div class="container text-center">
            <div class ="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Welcome to GamesSapp {% if login %}, {{ login }}{% endif %}</h1>
                    </div>
                </div>
            </div>
</header>
  <!--Posts Generator -->

    <div class="container">
        <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            {% for post in posts[::-1]%}
                <div class="post-preview">

                    <a href="{{ url_for('post', post_name=post[1]) }}">
                        <h2 class="post-title">
                            {{ post[1] }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post[2] }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="{{ url_for('user', nickname=post[3]) }}">{{ post[3] }}</a></p>
                    {% endfor %}
                </div>


                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    </div>
{% include "footer.html" %}

  </body>
</html>